.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    min-height: 100px;
    padding: 5px 0;
    border-radius: 0.2em
}

.customize-control ul.sortable {
    display: grid;
}

.customizer_layout {
    background-color: #ccc;
}

.sortable li {
    margin: 5px;
    padding: 5px;
    width: auto;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    border-radius: 0.2em
}

#customize-control-wallstreet_pro_options-front_page_data label, #customize-control-wallstreet_pro_options-layout_textbox_disable label {
    display: none !important;
}

#customize-control-wallstreet_pro_options-stylesheet input {
    display: none !important;
}

#customize-control-wallstreet_pro_options-stylesheet label {
    display: inline;
    margin-left: 12px;
}

#customize-control-wallstreet_pro_options-stylesheet img {
    margin-top: 20px;
}

.color_schema img {
    border: 2px solid #F0F0F1 !important;
}

    .color_schema img.active {
        border: 2px solid yellow !important;
    }
