.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    min-height: 100px;
    padding: 5px 0;
    border-radius: 0.2em
}

.customize-control ul.sortable {
    display: grid;
}

.customizer_layout {
    background-color: #ccc;
}

.sortable li {
    margin: 5px;
    padding: 5px;
    width: auto;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    border-radius: 0.2em
}
